<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Glauco Machado" />

<title>Layout Base</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/mdb.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=emboss" />

 	
</head>
<body>

	<div class="container-fluid;">

		<!-- header->MONTA O MENU SUPERIOR -->
		<header >
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="#"><img th:src="@{/images/logo.svg}" width="30" height="30"
					class="d-inline-block align-top" alt="" style="margin-right: 10px"><span class="font-effect-emboss">Torresmo</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
					aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="nav navbar-nav mr-auto">
						<li class="nav-item active">
							<!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> --> <!-- REDIRECIONA PARA A HOME PAGE -->
							<a class="nav-link" th:href="@{/home}">Home</a>
						</li>

						<!-- REDIRECIONA PARA A PÁGINA DE CADASTRO -->
						<li class="nav-item"><a class="nav-link" th:href="@{/usuario/novoCadastro}">Cadastro</a></li>

						<!-- REDIRECIONA PARA A PÁGINA DE CONSULTA -->
						<li class="nav-item"><a class="nav-link" th:href="@{/usuario/consultar}">Consulta</a></li>
					</ul>

					<!-- FORMULÁRIO QUE REALIZA O LOGOUT -->
					<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" th:method="post">
						<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sair</button>
						<!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Sair</button> -->
					</form>
				</div>
			</nav>
		</header>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

			<!-- PARTE QUE VAI SER SUBSTITUÍDA PELO CONTEUDO DAS PÁGINAS -->
			<div class="mdl-layout__content mdl-color--blue-grey-100">
				<div class="page-content">

					<!-- CONTEUDO A SER SUBSTITUÍDO -->
					<div layout:fragment="content">Essa parte vai ser substituída</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/mdb.js"></script>
	<!-- <script th:href="@{/js/bootstrap.min.js}" ></script> -->
	<!-- <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> -->
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
</body>

<!-- MONTA O MENU LATERAL 
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">MENU</span>
			<nav class="mdl-navigation">
				REDIRECIONA PARA A HOME PAGE
				<a class="mdl-navigation__link" th:href="@{/home}">Home</a>
				REDIRECIONA PARA A PÁGINA DE CADASTRO
				<a class="mdl-navigation__link" th:href="@{/usuario/novoCadastro}">Cadastro</a>
				REDIRECIONA PARA A PÁGINA DE CONSULTA
				<a class="mdl-navigation__link" th:href="@{/usuario/consultar}">Consulta</a>
				SAI DA APLICAÇÃO E VOLTA PARA A PÁGINA DE LOGIN
				<a class="mdl-navigation__link" href="#" onclick="document.getElementById('form_logou').submit();">Logout</a>
			</nav>
		</div> -->

<!-- 				header->MONTA O MENU SUPERIOR
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">

					<a class="mdl-navigation__link" th:href="@{/home}"> <span class="mdl-layout-title">Torresmos</span>
					</a>

					<div class="mdl-layout-spacer"></div>
					<nav class="mdl-navigation mdl-layout--large-screen-only">

						REDIRECIONA PARA A HOME PAGE
						<a class="mdl-navigation__link" th:href="@{/home}">Home</a>

						REDIRECIONA PARA A PÁGINA DE CADASTRO
						<a class="mdl-navigation__link" th:href="@{/usuario/novoCadastro}">Cadastro</a>

						REDIRECIONA PARA A PÁGINA DE CONSULTA
						<a class="mdl-navigation__link" th:href="@{/usuario/consultar}">Consulta</a>

						SAI DA APLICAÇÃO E VOLTA PARA A PÁGINA DE LOGIN
						<a class="mdl-navigation__link" href="#" onclick="document.getElementById('form_logou').submit();">Logout</a>
					</nav>
				</div>
			</header>
 -->


</html>